{% extends "HbBlogBundle::layout.html.twig" %}

{% block blog %}
    <h3>Formulaire de commentaire</h3>
    <div class="well">
        <form method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
{% endblock %}
