{% extends "HbBlogBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Modifier Article
{% endblock %}
{% block blog %}
    <h3>Formulaire de modification d'article</h3>
    <div class="well">
        <form method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
            <p><a href="{{ path('BlogBundle_ArticleListId', {'id': article.id }) }}">Retour à l'article</a></p>
{% endblock %}

